.nav-bar {
    display: flex;
    justify-content: right; /*right aligns nav bar*/
    align-items: center; /*aligns items vertically in the center */
    position: sticky;
    top: 0;
    /* overflow: hidden; */
    background-color: #7182A2;
    padding: 20px;
    margin: 0px;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}


.nav-bar a { /*styling links in navbar*/
    /* float: right; affects home & contact */
    /* text-align: center; */
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.nav-bar a:hover { /*styling for when nav link is hovered over*/
    background-color: #F0F2F6;
    border-radius: 5px;
}

.subnav{ /*styling for subnav*/
    /* float: right; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column; /*makes subnav display vertically*/
}

.subnav .subnavbtn {
    /* styling button - personal preference */
}

.nav-bar a:hover, .subnav:hover .subnavbtn {
    /* style stuff */
}

.subnav-content {
    display: none;
    /* position: absolute; */
    left: 0;
    width: 100%;
    z-index: 1;
}

.subnav-content a{
    /* style stuff change later */
}

.subnav-content a:hover {
    /* style */
}

.subnav:hover .subnav-content{
    display: block;
}